.aboutUs {
    padding: 50px 0;
}

.aboutUs .aboutUs__title {
    text-align: center;
}

.aboutUs .aboutUs__wrapper {
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.aboutUs .aboutUs__wrapper {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
}

.aboutUs .aboutUs__wrapper .aboutUs__text p:last-child {
    margin-top: 50px;
}

@media screen and (max-width: 767px) {
    .aboutUs .aboutUs__img {
        margin-top: 50px;
    }
}

@media screen and (max-width: 550px) {
    .aboutUs .aboutUs__wrapper {
        padding: 30px;
    }
}